# ============================================================
# Spring Boot
# ============================================================

HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# Environment Variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# ============================================================
# STS
# ============================================================

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ============================================================
# IntelliJ IDEA
# ============================================================

.idea/
*.iws
*.iml
*.ipr
out/

# ============================================================
# NetBeans
# ============================================================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ============================================================
# VS Code
# ============================================================

.vscode/

# ============================================================
# Java
# ============================================================

*.class

# ============================================================
# Lombok
# ============================================================

lombok.config

# ============================================================
# Temporary files
# ============================================================

*.tmp
*.temp
*.swp

# ============================================================
# Docker
# ============================================================

docker-data/

# Node
node_modules/